rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helpers
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isGlobalAdmin() {
      let globalAdmins = [
        "NYHqWb9dcRg1v2XxijROridZOur2"
      ];
      return isSignedIn() && (request.auth.uid in globalAdmins);
    }
    
    function getOrgRoles(orgId) {
    	let userData = get(/databases/$(database)/documents/orgs/$(orgId)/users/$(request.auth.uid));
      return (
      	isSignedIn()
      	&& userData != null 
        	? userData.roles
          : []
      )
    }
    
    function canReadOrgInternal(orgId) {
    	let orgRoles = getOrgRoles(orgId);
      return isGlobalAdmin() || orgRoles.hasAny(['admin', 'clinician'])
      
    }
    
    function canManageConfig(orgId) {
    	let orgRoles = getOrgRoles(orgId);
      return isGlobalAdmin() || orgRoles.hasAny(['admin'])
    }


    match /users/{uid} {
      allow get, list: if isSignedIn() && request.auth.uid == uid || isGlobalAdmin();
      allow create, update, delete: if isSignedIn() && isGlobalAdmin();
    }
    
    match /users/{uid}/tokens/googleOAuthAccessToken {
      allow get, list: if isSignedIn() && request.auth.uid == uid || isGlobalAdmin();
      allow create, update, delete: if isSignedIn() && isGlobalAdmin();
    }

    match /orgs/{orgId} {
      allow get: if canReadOrgInternal(orgId);
      allow create, update, delete: if canManageConfig(orgId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
