.ActionZone {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
}

.ActionZone__controls {
  padding: 12px;
  width: 100%;
  height: fit-content;
  flex-grow: 0;
}

.ActionZone__questionnaire {
  overflow-y: scroll;
  border: 1px solid grey;
  border-radius: 8px;
}

.ActionZone__questionnaire,
.ActionZone__questionnaire form,
.ActionZone__questionnaire form label {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 8px;
}

.ActionZone__questionnaire form * {
  height: 0;
  flex-grow: 1;
  overflow-y: scroll;
  word-break: break-word;
  width: 100%;
}

.VideoZone {
  display: flex;
  flex-direction: column;
}

.VideoZone iframe {
  aspect-ratio: 1.77777777;
  border: 1px solid var(--grey);
  border-radius: '4px';
  height: 100%;
  width: 100%;
}

.VideoZone .VideoZone__dailyContainer {
  height: 100%;
  width: 100%;
}

/* Column mode */
@media (width <= 1024px) {
  .EncounterPage {
    flex-direction: column;
  }
  .ActionZone {
    height: 0;
    width: 100%;
    overflow-y: scroll;
  }

  .ActionZone__controls {
    width: 300px;
    height: fit-content;
    flex-grow: 0;
  }

  .ActionZone__questionnaire {
    width: 0;
    flex-grow: 1;
    overflow-y: scroll;
  }

  .VideoZone {
    height: calc(56.22vw + 92px);
    width: 100%;
  }

  .VideoZone iframe,
  .VideoZone .VideoZone__dailyContainer {
    height: 100%;
    width: 100%;
  }
}
