.OrgPicker {
  position: relative;
  display: flex;
}

.OrgPicker__button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: var(--space-11);
  width: var(--space-11);
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.OrgPicker__menu {
  width: var(--space-16);
  max-height: calc(100vh - 100px);
  list-style: none;
  position: absolute;
  top: calc(42px + var(--space-6));
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding: var(--space-8);
  border-radius: var(--radius-2);
  box-shadow: var(--space-2) var(--space-1) var(--space-3) var(--space-1)
    rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.OrgPicker__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.OrgPicker__errorTooltip {
  display: block;
  color: var(--red-7, red);
  font-size: 14px;
  width: calc(min(100vw - 200px, 500px));
  border: 1px solid var(--red-4);
  border-radius: 4px;
  overflow-y: auto;
}

.OrgPicker__errorPre {
  text-wrap: auto;
  white-space: pre-wrap;
  margin: 0;
  font-size: 12px;
}
