.NavHeader {
  /* display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--space-5); */
  border: 1px solid var(--neutral-7);

  container-type: inline-size;
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: var(--space-2);
  width: 100%;
  max-width: 1400px;
  padding-block: var(--space-8);
  padding-inline: var(--space-10);
  margin-inline: auto;
  transition: top 0.7s ease-in-out;
  color: var(--app-accent);
  padding-inline: var(--space-8);
  padding-block: var(--space-6);
  width: calc(100% - 2 * var(--space-8));
  background-color: #fff;
  border-radius: var(--radius-3);
  /* margin-inline: auto; */
  margin-block: var(--space-2);

  /*  */
  box-shadow: 0 var(--space-1) var(--space-2) calc(var(--space-1) * -1) #0003;
}

.NavHeader > :last-child {
  margin-left: auto;
  margin-right: 0;
}
