.QuestionnaireSelect {


  
  width: fit-content;
  height: fit-content;
  margin: 0;

  --background: var(--accent-9, var(--neutral-9));
  --foreground: var(--accent-4, var(--neutral-1));
  background-color: var(--background);
  border-color: var(--foreground);
  color: var(--foreground);

  --gap: var(--space-2);
  --padding-y: var(--space-2);
  --padding-x: var(--space-5);


/* Button-2 */
--font-weight: var(--font-weight-2);
--line-height: var(--line-height-4);
--font-size: var(--font-size-3);
font-size: var(--font-size);
font-weight: var(--font-weight);
line-height: var(--line-height);
letter-spacing: var(--letter-spacing);


    /* Button */
    cursor: pointer;
    box-sizing: border-box;
    border: 1.5px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding-inline: var(--padding-x);
    padding-block: var(--padding-y);
    border-radius: var(--border-radius, var(--radius-2));
    text-decoration: none;

      /* custom down arrow  */

  -webkit-appearance: none;
  -moz-appearance: none;
  /* background: transparent; */
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - var(--padding-x) / 2);
  background-position-y: calc(50%);
  /* border: 1px solid #dfdfdf;
  border-radius: 2px; */
  /* margin-right: calc( (var(--padding-x)) * 2); */
  padding-right:calc( ( var(--padding-x)) * 2.5);
}