.hair-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hair-check h2 {
  margin: var(--space-2);
}

.hair-check video {
  max-width: 100%;
  height: 0;
  flex-basis: 0;
  flex-grow: 1;
  margin: auto var(--space-2);
}

.hair-check .inputs {
  margin: var(--space-2);
}

.hair-check .inputs label {
  display: flex;
  flex-direction: column;
  margin-block: var(--space-4);
  cursor: pointer;
}

.hair-check .inputs label input {
  margin-block-start: var(--space-1);
}

.hair-check .inputs button {
 margin-block-start: var(--space-2)
}