.tray {
  width: 100%;
  background: var(--white);
  color: var(--darkest-blue);
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.tray-buttons-container {
  padding: 10px;
  display: flex;
  gap: var(--space-3);
  flex-grow: 1;
  flex-basis: 0;
}

.tray-buttons-container button {
  padding: var(--space-1) var(--space-2);
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
  height: 100%;
  margin: auto;
  flex-grow: 1;
  flex-basis: 0;
}

.tray-buttons-container button svg {
  color: #121a24;
}

.controls,
.actions,
.leave {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  gap: var(--space-2);
}

.controls {
  justify-content: flex-start;
}

.actions {
  justify-content: center;
  flex-grow: 1.5;
}

.leave {
  justify-content: flex-end;
}
